<app-breadcrumb [title]="'Crear'" [items]="['Credito' ]" [active_item]="'Creditos'"></app-breadcrumb>
<div class="container-fluid basic_table">
    <div class="row">


        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Abrir nuevo credito</h3>
                    <span>Los Clientes pueden ser filtrados por
                        <code>NOMBRES</code> 
                    </span>
                </div> 
                <div class="card-body">
                    <form [formGroup]="formCredit">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label">Fecha </label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" placeholder="yyyy-mm-dd" mask="0000-M0-d0"
                                        [dropSpecialCharacters]="false" formControlName="cre_date_start" [ngClass]="{
                                            'is-invalid': submitted && formi['cre_date_start'].errors
                                          }" />
                                </div>
                                <p *ngIf="submitted && formi['cre_date_start'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Cliente</label>
                                    <div class="ng-autocomplete2">
                                        <ng-autocomplete [data]="employyes" [searchKeyword]="keyword"
                                            placeholder="Seleccione un cliente" (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.cli_full_name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound">Sin datos</div>
                                        </ng-template>
                                    </div> 
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Tiempo</label>
                                    <select class="form-control" formControlName="per_code"
                                        [ngClass]="{ 'is-invalid': submitted && formi['per_code'].errors }" (change)="calculateMount()">
                                        <option value="" selected>--Seleccione--</option>
                                        <option *ngFor="let item of taxses" [value]="item.per_code">{{item.per_days}}
                                            Dias ({{item.per_rate}} %)</option>
                                    </select>
                                    <p *ngIf="submitted && formi['per_code'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Monto $</label>
                                <input class="form-control" type="number" placeholder="Ingresa el monto solicitado"
                                    formControlName="cre_neto_amount"
                                    [ngClass]="{ 'is-invalid': submitted && formi['cre_neto_amount'].errors }" (keyup)="calculateMount()"/>
                                <p *ngIf="submitted && formi['cre_neto_amount'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Monto Interes $</label>
                                <input class="form-control" type="number" placeholder="Monto interes"
                                    formControlName="cre_tax_amount" [readOnly]="true"
                                    [ngClass]="{ 'is-invalid': submitted && formi['cre_tax_amount'].errors }" />
                                <p *ngIf="submitted && formi['cre_tax_amount'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">Monto Total $</label>
                                <input class="form-control" type="number" placeholder="Monto total"
                                    formControlName="cre_brut_amount" [readOnly]="true"
                                    [ngClass]="{ 'is-invalid': submitted && formi['cre_brut_amount'].errors }" />
                                <p *ngIf="submitted && formi['cre_brut_amount'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Cuota diaria </label>
                                <input class="form-control" type="number" placeholder="Cuota diaria " step="0.01"
                                    formControlName="cre_daily_quota" 
                                    [ngClass]="{ 'is-invalid': submitted && formi['cre_daily_quota'].errors }" />
                                <p *ngIf="submitted && formi['cre_daily_quota'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>
                            <div class="col-1 "> <br>
                                <button class="btn btn-primary" *ngIf="!loading" type="button"
                                    (click)="createCRedits()">Crear</button>
                                <div class="loader-box" *ngIf="loading">
                                    <div class="loader-1"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>