<app-breadcrumb [title]="(id.length>10?'Actualizar':'Crear')+' Cliente'" [items]="['Clientes' ]"
    [active_item]="'Crear'"></app-breadcrumb>
<div class="container-fluid">
    <div class="edit-profile">
        <div class="row">
            <div class="col-xl-12 card">
                <div class="card-header">
                    <h4 class="card-title mb-0"> {{ id.length>10?'Actualizar':'Crear' }} Cliente</h4>
                    <div class="card-options">
                        <a class="card-options-collapse" href="javascript:void(0)" data-bs-toggle="card-collapse"><i
                                class="fe fe-chevron-up"></i></a><a class="card-options-remove"
                            href="javascript:void(0)" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tabbed-card">
                        <ul ngbNav [activeId]="1" [tabIndex]="navSelected" ite
                            class="pull-right nav nav-tabs border-tab nav-primary">
                            <li [ngbNavItem]="1" (click)="changeTab('1')">
                                <a ngbNavLink><i class="icofont icofont-man-in-glasses"></i> información</a>
                                <ng-template ngbNavContent>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" (click)="changeTab('2')">
                                <a ngbNavLink><i class="icofont icofont-contacts"></i>Descuentos</a>
                                <ng-template ngbNavContent>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                    <form [formGroup]="editProfile" *ngIf="navSelected=='1'">
                        <div class="row">
                            <div class="col-12 m-0 p-0">
                                <h6 class="m-0 p-0">información Personal</h6>
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Código de Cliente</label>
                                    <input class="form-control" type="text" placeholder="Codigo Cliente"
                                        formControlName="employe_code" [ngClass]="{
                                            'is-invalid': submitted && form['employe_code'].errors
                                          }" />
                                    <p *ngIf="submitted && form['employe_code'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Primer Nombre</label>
                                    <input class="form-control" type="text" placeholder="Primer Nombre"
                                        formControlName="name_1" [ngClass]="{
                                            'is-invalid': submitted && form['name_1'].errors
                                          }" />
                                    <p *ngIf="submitted && form['name_1'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Segundo Nombre</label>
                                    <input class="form-control" type="text" placeholder="Segundo Nombre"
                                        formControlName="name_2" [ngClass]="{
                                            'is-invalid': submitted && form['name_2'].errors
                                          }" />
                                    <p *ngIf="submitted && form['name_2'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Tercer Nombre</label>
                                    <input class="form-control" type="text" placeholder="Tercer Nombre"
                                        formControlName="name_3" [ngClass]="{
                                            'is-invalid': submitted && form['name_3'].errors
                                          }" />
                                    <p *ngIf="submitted && form['name_3'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Primer Apellido</label>
                                    <input class="form-control" type="text" placeholder="Primer Apellido"
                                        formControlName="surname_1" [ngClass]="{
                                            'is-invalid': submitted && form['surname_1'].errors
                                          }" />
                                    <p *ngIf="submitted && form['surname_1'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Segundo Apellido</label>
                                    <input class="form-control" type="text" placeholder="Segundo Apellido"
                                        formControlName="surname_2" [ngClass]="{
                                            'is-invalid': submitted && form['surname_2'].errors
                                          }" />
                                    <p *ngIf="submitted && form['surname_2'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Apellido de casada</label>
                                    <input class="form-control" type="text" placeholder="Apellido de casada"
                                        formControlName="surname_3" [ngClass]="{
                                            'is-invalid': submitted && form['surname_3'].errors
                                          }" />
                                    <p *ngIf="submitted && form['surname_3'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Genero</label>
                                    <select class="form-control" formControlName="gender" [ngClass]="{
                                        'is-invalid': submitted && form['gender'].errors
                                      }">
                                        <option value="" selected>--Seleccione--</option>
                                        <option *ngFor="let item of genders" [value]="item.gen_code"> {{item.gen_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="submitted && form['gender'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">Fecha de nacimiento</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" [(ngModel)]="model2" placeholder="yyyy-mm-dd" name="d3"
                                        ngbDatepicker #d3="ngbDatepicker" [placement]="'top'"
                                        [positionTarget]="buttonEl" formControlName="birth_date" [ngClass]="{
                                            'is-invalid': submitted && form['birth_date'].errors
                                          }" />
                                    <button #buttonEl class="btn btn-primary calendar" (click)="d3.toggle()"
                                        type="button">
                                        <app-feather-icons [icon]="'calendar'"></app-feather-icons>
                                    </button>
                                </div>
                                <p *ngIf="submitted && form['birth_date'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Teléfono</label>
                                    <input class="form-control" type="text" placeholder="Teléfono"
                                        formControlName="phone" [ngClass]="{
                                            'is-invalid': submitted && form['phone'].errors
                                          }" />
                                    <p *ngIf="submitted && form['phone'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Dirección</label>
                                    <input class="form-control" type="text" placeholder="Dirección"
                                        formControlName="address" [ngClass]="{
                                            'is-invalid': submitted && form['address'].errors
                                          }" />
                                    <p *ngIf="submitted && form['address'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 m-0 p-0">
                                <br>
                                <h6 class="m-0 p-0">información de indentificacion</h6>
                                <hr>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">DUI</label>
                                    <input class="form-control" type="text" placeholder="DUI" formControlName="dui"
                                        [ngClass]="{
                                        'is-invalid': submitted && form['dui'].errors
                                      }" />
                                    <p *ngIf="submitted && form['dui'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">NIT</label>
                                    <input class="form-control" type="text" placeholder="NIT" formControlName="nit"
                                        [ngClass]="{
                                        'is-invalid': submitted && form['nit'].errors
                                      }" />
                                    <p *ngIf="submitted && form['nit'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">ISSS</label>
                                    <input class="form-control" type="text" placeholder="ISSS" formControlName="isss"
                                        [ngClass]="{
                                        'is-invalid': submitted && form['isss'].errors
                                      }" />
                                    <p *ngIf="submitted && form['isss'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">AFP</label>
                                    <input class="form-control" type="text" placeholder="AFP" formControlName="afp"
                                        [ngClass]="{
                                        'is-invalid': submitted && form['afp'].errors
                                      }" />
                                    <p *ngIf="submitted && form['afp'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 m-0 p-0">
                                <br>
                                <h6 class="m-0 p-0">información administrativa</h6>
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Fecha de inicio</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model3" name="d4"
                                        ngbDatepicker #d4="ngbDatepicker" [placement]="'top'"
                                        [positionTarget]="buttonElStart" formControlName="start_date" [ngClass]="{
                                            'is-invalid': submitted && form['start_date'].errors
                                          }" />
                                    <button #buttonElStart class="btn btn-primary calendar" (click)="d4.toggle()"
                                        type="button">
                                        <app-feather-icons [icon]="'calendar'"></app-feather-icons>
                                    </button>
                                </div>
                                <p *ngIf="submitted && form['start_date'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label">Fecha fin</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model4" name="dp3"
                                        ngbDatepicker #dp3="ngbDatepicker" [placement]="'top'"
                                        [positionTarget]="buttonElEnd" formControlName="end_date" [ngClass]="{
                                            'is-invalid': submitted && form['end_date'].errors
                                          }" />
                                    <button #buttonElEnd class="btn btn-primary calendar" (click)="dp3.toggle()"
                                        type="button">
                                        <app-feather-icons [icon]="'calendar'"></app-feather-icons>
                                    </button>
                                </div>
                                <p *ngIf="submitted && form['end_date'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Salario Hora</label>
                                    <input class="form-control" type="number" step="0.01" placeholder="Salario Hora"
                                        formControlName="emp_hourly_wage" [ngClass]="{
                                            'is-invalid': submitted && form['emp_hourly_wage'].errors
                                          }" />
                                </div>
                                <p *ngIf="submitted && form['emp_hourly_wage'].errors" class="is-invalid text-danger">
                                    Este dato es requerido
                                </p>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Salario Dia</label>
                                    <input class="form-control" type="number" step="0.01" placeholder="Salario Dia"
                                        formControlName="emp_daily_wage" [ngClass]="{
                                            'is-invalid': submitted && form['emp_daily_wage'].errors
                                          }" />
                                    <p *ngIf="submitted && form['emp_daily_wage'].errors"
                                        class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Salario Base</label>
                                    <input class="form-control" type="number" step="0.01" placeholder="Salario Base"
                                        formControlName="emp_base_salary" [ngClass]="{
                                            'is-invalid': submitted && form['emp_base_salary'].errors
                                          }" />
                                    <p *ngIf="submitted && form['emp_base_salary'].errors"
                                        class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Viaticos</label>
                                    <input class="form-control" type="number" step="0.01" placeholder="Viaticos"
                                        formControlName="emp_viatic" [ngClass]="{
                                            'is-invalid': submitted && form['emp_viatic'].errors
                                          }" />
                                    <p *ngIf="submitted && form['emp_viatic'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Viaticos Complementarios</label>
                                    <input class="form-control" type="number" step="0.01"
                                        placeholder="Viaticos Complementarios"
                                        formControlName="emp_complementary_diatic" [ngClass]="{
                                            'is-invalid': submitted && form['emp_complementary_diatic'].errors
                                          }" />
                                    <p *ngIf="submitted && form['emp_complementary_diatic'].errors"
                                        class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Departamento</label>
                                    <select class="form-control" formControlName="departament" [ngClass]="{
                                        'is-invalid': submitted && form['departament'].errors
                                      }">
                                        <option value="" selected>--Seleccione--</option>
                                        <option *ngFor="let item of laborsDepartaments" [value]="item.lad_code">
                                            {{item.lad_name}} </option>
                                    </select>
                                    <p *ngIf="submitted && form['departament'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Cargo Laboral</label>
                                    <select class="form-control" formControlName="job_title" [ngClass]="{
                                        'is-invalid': submitted && form['job_title'].errors
                                      }">
                                        <option value="" selected>--Seleccione--</option>
                                        <option *ngFor="let item of jobTitle" [value]="item.jti_code"> {{item.jti_name}}
                                        </option>
                                    </select>
                                    <p *ngIf="submitted && form['job_title'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Tipo Laboral</label>
                                    <select class="form-control" formControlName="job_type" [ngClass]="{
                                            'is-invalid': submitted && form['job_type'].errors
                                          }">
                                        <option value="" selected>--Seleccione--</option>
                                        <option *ngFor="let item of workStatus" [value]="item.wst_code">
                                            {{item.wst_name}} </option>
                                    </select>
                                    <p *ngIf="submitted && form['job_type'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Superior Inmediato</label>
                                    <select class="form-control" formControlName="immediate_superior" [ngClass]="{
                                        'is-invalid': submitted && form['immediate_superior'].errors
                                      }">
                                        <option selected>--Seleccione--</option>
                                        <option value="1">Germany</option>
                                        <option value="2">Canada</option>
                                    </select>
                                    <p *ngIf="submitted && form['immediate_superior'].errors"
                                        class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" *ngIf="!loading" type="button"
                                (click)="sendEmployeeDate()">Enviar</button>

                            <div class="loader-box" *ngIf="loading">
                                <div class="loader-1"></div>
                            </div>
                        </div>
                    </form>

                    <div *ngIf="navSelected=='2'">
                        <div *ngIf="id.length<10" class="alert alert-info"> <b>Atencion:</b> Se necesita registrar a un
                            cliente para agregarle descuentos</div>
                        <form *ngIf="id.length>10" [formGroup]="formDiscount">
                            <div class="row">
                                <div class="col-3">
                                    <label class="form-label">Institucion</label>
                                    <ng-select [items]="institutions" bindLabel="din_name" bindValue="din_code"
                                        formControlName="institute" [ngClass]="{
                                        'is-invalid': submitted && formi['institute'].errors
                                      }">
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.din_name || 'Unnamed group'}}
                                        </ng-template>
                                    </ng-select>
                                    <p *ngIf="submitted && formi['institute'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                                <div class="col-2">
                                    <label class="form-label">Detalle</label>
                                    <input class="form-control" type="text" placeholder="Obtén más información"
                                        formControlName="detail" [ngClass]="{
                                        'is-invalid': submitted && formi['detail'].errors
                                      }" />
                                    <p *ngIf="submitted && formi['detail'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                                <div class="col-2">
                                    <label class="form-label">Fecha de inicio</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" [(ngModel)]="modelstart" placeholder="yyyy-mm-dd"
                                            name="modelstart1" ngbDatepicker #modelstart1="ngbDatepicker"
                                            [placement]="'top'" [positionTarget]="buttonEl" formControlName="startdate"
                                            [ngClass]="{
                                                'is-invalid': submitted && formi['startdate'].errors
                                              }" />
                                        <button #buttonEl class="btn btn-primary calendar"
                                            (click)="modelstart1.toggle()" type="button">
                                            <app-feather-icons [icon]="'calendar'"></app-feather-icons>
                                        </button>
                                    </div>
                                    <p *ngIf="submitted && formi['startdate'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>

                                <div class="col-2">
                                    <label class="form-label">Fecha de fin</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" [(ngModel)]="modelend" placeholder="yyyy-mm-dd"
                                            name="modelend1" ngbDatepicker #modelend1="ngbDatepicker"
                                            [placement]="'top'" [positionTarget]="buttonEl" formControlName="enddate"
                                            [ngClass]="{
                                                'is-invalid': submitted && formi['enddate'].errors
                                              }" />
                                        <button #buttonEl class="btn btn-primary calendar" (click)="modelend1.toggle()"
                                            type="button">
                                            <app-feather-icons [icon]="'calendar'"></app-feather-icons>
                                        </button>
                                    </div>
                                    <p *ngIf="submitted && formi['enddate'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                                <div class="col-1">
                                    <label class="form-label">Cant. Cuotas</label>
                                    <input class="form-control" type="number" placeholder="Cuotas pendientes"
                                        formControlName="dues" [ngClass]="{
                                        'is-invalid': submitted && formi['dues'].errors
                                      }" />
                                    <p *ngIf="submitted && formi['dues'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                                <div class="col-1">
                                    <label class="form-label">Monto</label>
                                    <input class="form-control" type="number" placeholder="Monto"
                                        formControlName="amount" [ngClass]="{
                                        'is-invalid': submitted && formi['amount'].errors
                                      }" />
                                    <p *ngIf="submitted && formi['amount'].errors" class="is-invalid text-danger">
                                        Este dato es requerido
                                    </p>
                                </div>
                                <div class="col-1"> <br>
                                    <button class="btn btn-primary" *ngIf="!loading" type="button"
                                        (click)="sendEmployeeDiscount()">Agregar</button>

                                    <div class="loader-box" *ngIf="loading">
                                        <div class="loader-1"></div>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <div *ngIf="id.length>10" class="table-responsive signal-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Institucion</th>
                                        <th scope="col">Detalle</th>
                                        <th scope="col">Fecha Inicio</th>
                                        <th scope="col">Fecha Fin</th>
                                        <th scope="col">Cuotas <br> Pendientes</th>
                                        <th scope="col">Monto <br> Cuota</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of discounts; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>
                                            {{item.hos_din_discount_institutions.din_name}}
                                        </td>
                                        <td>
                                            {{item.des_reference }}
                                        </td>
                                        <td>
                                            {{item.emp_start_date | date}}
                                        </td>
                                        <td>
                                            {{item.emp_end_date | date}}
                                        </td>
                                        <td>
                                            {{item.des_number_dues}}
                                        </td>
                                        <td>
                                            {{item.des_amount | currency}}
                                        </td>
                                        <td>
                                            <div class="action">
                                                <button class="btn btn-danger" (click)="deleteDiscount(item.des_code)">
                                                    <i class="icon-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="6" class="text-end">Descuento total</th>
                                        <td> {{ totalDiscount | currency }}</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <br>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>