<app-breadcrumb [title]="'Creditos'" [items]="['Creditos' ]" [active_item]="'Listado'"></app-breadcrumb>
<div class="container-fluid basic_table">
    <div class="row">


        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Listado de creditos activos</h3>
                    <span>Los Clientes pueden ser filtrados por
                        <code>nombres</code>
                        <code>apellidos</code>
                        <code>teléfono</code>
                        <code>dirección</code>
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-4 align-self-start ps-4 p-2">
                        <input class="form-control" id="buscarcliente" type="text" placeholder="Digitar para buscar..."
                            (keyup)="buscarCliente($event)" #filtro />
                    </div>
                    <div class="col-md-8 text-end  pt-2">
                        <button class="btn btn-primary btn-lg me-2 " type="button" placement="top"
                            ngbTooltip="Crear nuevo Cliente" [routerLink]="'/credicts/create'">
                            Nuevo Credito
                        </button>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
                <div class="loader-box" *ngIf="loading">
                    <div class="loader-37"></div>
                </div>
                <div class="table-responsive signal-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Cuota <br> Diraria</th>
                                <th scope="col">Monto neto</th>
                                <th scope="col">Interes(Porcentaje)</th>
                                <th scope="col">Monto total </th>
                                <th scope="col">Abonado</th>
                                <th scope="col">Pendiente</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of employyes; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>
                                    {{item.nex_cli_clients.cli_full_name }}
                                </td>
                                <td>
                                    {{item.cre_daily_quota | currency}}
                                </td>
                                <td>
                                    {{item.cre_neto_amount | currency}}
                                </td>
                                <td>
                                    {{(item.nex_per_percentage.per_rate/100) | percent}}
                                </td>
                                <td>
                                    {{item.cre_brut_amount | currency}}
                                </td>
                                <td>
                                    {{item.abonado | currency}}
                                </td>
                                <td>
                                    {{(item.cre_brut_amount-item.abonado) | currency}}
                                </td>
                                <td>
                                    <div class="action">

                                        <button class="btn btn-primary" (click)="mostrarDialogo(item.cre_code)">
                                            <i class="icon-pencil-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>