<app-breadcrumb [title]="'Empleados'" [items]="['Empleados' ]" [active_item]="'Listado'"></app-breadcrumb>
<div class="container-fluid basic_table">
    <div class="row">


        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>Listado de planillas</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 align-self-start ps-4 p-2">
                        <a class="btn btn-primary btn-lg me-2 "  
                             [routerLink]="'/form-sheets/detail'" >
                            Nueva Planilla
                        </a>
                    </div> 
                </div>
                <div class="loader-box" *ngIf="loading">
                    <div class="loader-37"></div>
                </div>
                <div class="table-responsive signal-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Dias laborados</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Creada Por</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of planillas; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>
                                    {{item.pla_name}}
                                </td>
                                <td>
                                    {{item.pla_days_works}}
                                </td>
                                <td>
                                    {{item.pla_date_start | date}}
                                </td>
                                <td>
                                    {{item.pla_date_end | date}}
                                </td>
                                <td>
                                    {{item.hos_pmt_payment_type.pmt_name}}
                                </td>
                                <td>
                                    {{item.hos_usr_usuario.usr_names}}
                                </td>
                                <td>

                                    <div class="action">
                                        <button class="btn btn-warning me-2"
                                            [routerLink]="'/employees/update/'+item.pla_code">
                                            <i class="icon-pencil-alt"></i>
                                        </button>

                                        <button class="btn btn-danger" (click)="deleteEmployee(item.pla_code)">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
 